.btn {
  padding: 8px 16px;
  height: 35px;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  
  &--red {
    background-color: #ec5433;
  }
  
  &--green {
    background-color: #5ac26f;
  }
}
