.list-item-category  {
  height: 43px;
  display: flex;
  align-items: center;
  padding: 12px;
  color: #7D7D7D;
  cursor: pointer;
}

.list-item-category.selected {
  border-left: 4px solid #EC5433;
}